[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Code coverage plugin for Gerrit, forked from the Chromium project's infra plugin
[access "refs/*"]
	owner = group user/GerritForge Ltd (gerritforge-ltd)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group GerritForgeReviewers
	label-Code-Review = -2..+2 group user/GerritForge Ltd (gerritforge-ltd)
	label-Verified = -1..+1 group GerritForgeReviewers
	label-Verified = -1..+1 group user/GerritForge Ltd (gerritforge-ltd)
	push = group user/GerritForge Ltd (gerritforge-ltd)
	read = group GerritForgeReviewers
	read = group user/GerritForge Ltd (gerritforge-ltd)
	rebase = group GerritForgeReviewers
	rebase = group user/GerritForge Ltd (gerritforge-ltd)
	removeReviewer = group GerritForgeReviewers
	removeReviewer = group user/GerritForge Ltd (gerritforge-ltd)
	submit = group GerritForgeReviewers
	submit = group user/GerritForge Ltd (gerritforge-ltd)
[access "refs/heads/*"]
	create = group GerritForgeReviewers
	create = group user/GerritForge Ltd (gerritforge-ltd)
	push = +force group user/GerritForge Ltd (gerritforge-ltd)
	pushMerge = group user/GerritForge Ltd (gerritforge-ltd)
	read = group GerritForgeReviewers
	read = group user/GerritForge Ltd (gerritforge-ltd)
[access "refs/tags/*"]
	push = group GerritForgeReviewers
	push = group user/GerritForge Ltd (gerritforge-ltd)
	push = +force group user/GerritForge Ltd (gerritforge-ltd)
[receive]
	requireChangeId = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
